*{
    font-family: 微軟正黑體;
}
.skill{
    display:flex;
    margin: auto;
    margin-top: 10px;
}
.wrap{
    width: 900px;
    margin: auto;
}
.skillCardTitle{
    width: 100px;
    height: 30px;
    border: none;
    margin-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.skillCard{
    width: 100px;
    height: 30px;
    border-color: black;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
    line-height:30px;
    
}

.expCard{
    width: 900px;
    height: auto;
    padding: 10px;
    margin: auto;
    padding-left: 20px;
    margin-top: 10px;
    background-color: rgb(229, 241, 224);
    border-radius: 8px;
}

